#popup-container {
  min-width: 200px;
  padding: 12px 8px 12px 8px;
  text-align: center;
}

#title-container {
  font-size: small;
  font-weight: bold;
}

#clipper-form {
    width: 100%;
}

#select-container {
  max-width: 100%;
  padding: 4px 8px 4px 8px;
}

#save-options {
  width: 100%;
  padding: 4px 8px 4px 8px;
}

#button-container {
    padding: 8px 0px 8px 0px;
    width: 50%;
}

#submit-button {
    width: 100%;
    padding: 8px 4px 8px 4px;
    font-weight: 500;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
