.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding: 0 16px 16px 0;
}

.navbarContainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding: 0 16px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 20px 0px;
}

.navbar {
  padding: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}

.navLink {
  padding: 4px 12px;
  border-radius: 20px;
}

.socialLinks {
  display: flex;
  padding: 4px;
}

.socialIcon {
  width: 20px;
  height: 20px;
  color: black;
  margin-left: 24px;
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}

.card {
  background-color: antiquewhite;
  padding: 24px;
  border-radius: 20px;
}
.cardLink:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.cardLg {
  grid-column: span 2; /* The card will span 2 columns */
  grid-row: span 2; /* The card will span 1 row */
}

.cardMd {
  grid-column: span 2; /* The card will span 2 columns */
  grid-row: span 1; /* The card will span 1 row */
}

.displayHeading {
  font-size: 28px;
  font-weight: 700;
}

.lineBreak {
  width: 100%;
  height: 1.4px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.06);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}
