body {
  background-color: #e6e6e6;
  font-family: 'Inter', sans-serif;
}


a:visited{
  color: inherit;
}
a {
  text-decoration: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding: 0 16px 16px 0;
}

.navbarContainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding: 0 16px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 20px 0px;
  color: black;
}

.navbar {
  padding: 4px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0.5px gray solid;
  border-radius: 50px;
}

.navLink {
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-size: medium;
}

.navLinkCurrent {
  background-color: gray;
}

.socialLinks {
  display: flex;
  padding: 4px;
}

.socialIcon {
  width: 20px;
  height: 20px;
  color: black;
  margin-left: 24px;
}

.socialIcon:hover {
  transform: scale(1.08);
}

.flexRow {
padding-bottom: 20px;
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
}

.externalLink {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}


.cardLink {
  position: relative;
  background: linear-gradient(215deg, white, white 50%, #303030 50%, #303030);
  background-size: 100% 300%; /* Increase the background size to create more smooth gradient effect */
  transition: background .5s;
  color: black;
}

.cardContent {
  transition: transform 0.25s ease-in-out;
}

.cardLink:hover .cardContent{
  transform: scale(1.02);
  
}

.projectImage {
width: 80%;
margin-left: auto;
margin-right: auto;
}

.cardLg {
  position: relative;
  grid-column: span 2; /* The card will span 2 columns */
  grid-row: span 2; /* The card will span 1 row */
  max-width: 100%;
}

.cardMd {
  grid-column: span 2; /* The card will span 2 columns */
  grid-row: span 1; /* The card will span 1 row */
}

.displayHeading {
  font-size: 28px;
  font-weight: 700;
}

.lineBreak {
  width: 100%;
  height: 1.4px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.06);
}
@media (max-width: 640px) {
  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {

}
