@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700');

body {
  background-color: #e6e6e6;
  font-family: 'Inter', sans-serif;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

.heroSection {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: center;
}

.heroContentContainer {
  padding-left: 24px;
  padding-right: 24px;
}

.heroParagraph {
  font-size: 18px;
  line-height: 160%;
  max-width: 90%;
}

.heroTitle {
  font-size: 48px;
  font-weight: 700;
}

.techStackGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 24px;
  padding-bottom: 32px;
  margin-top: 12px;
}

.offset {
  transform: translateY(32px);
}

.techStackItemContainer {
  margin-right: auto;
  margin-left: auto;
}

.teckStackIcon {
  width: 48px;
  height: 48px;
  color: black;
}

.additionalStackContainer {
  padding: 32px 12px 16px 12px;
  text-align: center;
}

.additionalStackIcon {
  width: 24px;
  height: 24px;
  color: black;
  margin-right: 24px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

.navbarContainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding: 0 16px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 20px 0px;
  color: black;
}

.navbar {
  padding: 4px;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0.5px gray solid;
  border-radius: 50px;
}

.navLink {
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-size: medium;
}

.navLinkCurrent {
  background-color: gray;
}

.socialLinks {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.socialIcon {
  width: 24px;
  height: 24px;
  color: black;
  margin-right: 24px;
}

.socialIcon:hover {
  transform: scale(1.08);
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 32px;
  padding-bottom: 64px;
}

.homeGrid p {
  font-size: 18px;
  line-height: 160%;
}

.card {
  background-color: white;
  padding: 36px 32px 36px 32px;
  border-radius: 20px;
}

.externalLink {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.cardLink {
  position: relative;
  color: black;
}

.cardContent {
  transition: transform 0.25s ease-in-out;
}

.cardLink:hover .cardContent {
  transform: scale(1.01);
}

.projectImage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cardLg {
  position: relative;
  grid-column: span 2; /* The card will span 2 columns */
  grid-row: span 2; /* The card will span 1 row */
  max-width: 100%;
}

.cardMd {
  grid-column: span 2; /* The card will span 2 columns */
  grid-row: span 1; /* The card will span 1 row */
}

.displayHeading {
  font-size: 32px;
  font-weight: 700;
}

.lineBreak {
  width: 100%;
  height: 1.4px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.06);
}
@media (max-width: 640px) {
  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
}
